!!! 5
html(lang="en")
  head
    title nodechat
    script(type="text/javascript", src="/lib/jquery-1.5.1.js")
    script(type="text/javascript", src="/lib/underscore.js")
    script(type="text/javascript", src="/lib/backbone.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/models/models.js")
    script(type="text/javascript", src="/controllers/controllers.js")
    script(type="text/javascript", src="/views/views.js")
    script
      //Fake out FF and IE8
      function log() {
          if (typeof console == 'undefined') {
              return;
          }
          console.log.apply(console, arguments);
      }

      $(document).ready(function () { 
        window.app = NodeChatController.init({hashPass: !{locals.hashPass}, userName: '!{locals.name}'}); 
      });
  body
    #heading
      h1 nodechat
    #content
      p 
        | connected clients
        span#client_count 0
      p 
        a(href='/logout') logout

      p
        label You are logged in as: 
          = locals.name 
        br
        label Your password hash is: 
          = locals.hashPass
        br
        | don't you feel secure? :)

      p
        | Fun Chat Messages
        ul#chat_list
          
      form(method="post", action="#", onsubmit="return false")#messageForm
        p
          label Message:
            input(type='text', name='message')
            input(type='submit', value='send')

    #footer

